.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 11;
}

.header__top {
    background: #193A59;
}

.header__top-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.stock__list {
    display: flex;
}

.stock__item {
    color: #ffffff;
    font-size: 14px;
    margin-right: 30px;
    text-transform: uppercase;
    font-weight: 500;
}

.stock__item:last-child {
    margin-right: 0;
}

.indicator--down .indicator__diff {
    color: #F5754C;
}

.indicator--up .indicator__diff {
    color: #A5EF70;
}

.indicator__diff {
    margin-left: 5px;
}

.header__contacts {
    display: flex;
}

.header__phone {
    display: flex;
    margin-right: 30px;
}

.header__phone a {
    color: #ffffff;
    margin-left: 10px;
    font-weight: 500;
}

.phone__link {
    position: relative;
}

.phone__link:hover::before {
    width: 100%;
}

.phone__link::before {
    position: absolute;
    content: '';
    width: 0;
    height: 1px;
    background-color: #ffffff;
    left: 0;
    bottom: 0;
    transition: .4s ease;
}

.header__lang {
    display: flex;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}

.header__lang img {
    transition: .7s ease;
}

.header__lang:hover img {
    transform: rotate(360deg);
}

.header__lang img {
    margin-left: 10px;
}

.header__bottom {
    background: rgba(21, 21, 21, 0.19);
    backdrop-filter: blur(20px);
}

.header__bottom-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.header__logo {
    display: flex;
    align-items: center;
}

.logo__link {
    display: inline-block;
    width: 195px;
    height: 50px;
    flex-shrink: 0;
}

.logo__link img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.nav__menu {
    display: flex;
    justify-content: space-between;
}

.nav__menu-item {
    margin-right: 50px;
}

.nav__menu-item a {
    color: #ffffff;
    text-transform: uppercase;
    transition: .3s ease;
}

.nav__menu-item a:hover {
    color: #D2B780;
}

.nav__menu-item:last-child {
    margin-right: 0;
}

.slick-list.draggable {
    height: 100%;
}

.slick-track {
    height: 100%;
}

.main-slider__container {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.main-slider__info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.wrapper {
    width: 35%;
    margin-right: auto;
}

.main-slider__header {
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    color: #ffffff;
    margin-bottom: 30px;
    text-align: left;
    padding-left: 20px;
}

.main-slider__text {
    font-weight: 400;
    line-height: 160%;
    color: #ffffff;
    text-align: left;
    padding-left: 20px;
}

.main-slider__background {
    height: 100%;
}

.main-slider__item {
    height: 100%;
    position: relative;
}

.main-slider__item::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(36, 36, 36, 0.52);
}

.main-slider__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-slider__background .main-slider__item.slick-slide {
    opacity: 1!important;
    transition: 2s ease-in;
    transform: translateX(0);
    z-index: 9;
}

.main-slider__background .main-slider__item.slick-slide.slick-current.slick-active {
    animation: slide 1s linear;
    animation-fill-mode: forwards;
    z-index: 10;
}

@keyframes slide {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

.main-slider__child {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -10%;
    width: 55%;
    height: 540px;
}

.main-slider__child .slick-track {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-slider__child-item {
    width: 306px;
    height: 100%;
}

.main-slider__child-item > div {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main-slider__child-item.slick-slide {
    transform: scale(0.8);
    transition: transform 1.5s ease, opacity .2s linear;
}

.main-slider__child-item.slick-slide.slick-current.slick-active {
    transform: none;
}

.main-slider__child-item.opacity {
    opacity: 0;
}

.main-slider__child-item span {
    font-weight: 700;
    line-height: 120%;
    color: #ffffff;
    margin-bottom: 10px;
}

.main-slider__child-item img {
    height: 95%;
    width: 100%;
    object-fit: cover;
    filter: drop-shadow(0px 18px 15px rgba(0, 0, 0, 0.3));
    border-radius: 10px;
}

.main-slider__header.animation {
    animation: slideRight 1s ease-in, opacityRight .7s ease forwards;
    animation-delay: .1s;
}

.main-slider__text.animation {
    animation: slideRight 1s ease-in forwards, opacityRight .5s ease forwards;
}

@keyframes slideRight {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

@keyframes opacityRight {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.main-slider__content.slick-slide.slick-active .main-slider__header.animation {
    animation: slideLeft .7s ease-out forwards, opacityLeft 1s ease forwards;
}

.main-slider__content.slick-slide.slick-active .main-slider__text.animation {
    animation: slideLeftText 1s ease-out forwards, opacityLeft 2s ease forwards;
}

@keyframes slideLeft {
    from {
        transform: translateX(-80%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideLeftText {
    from {
        transform: translateX(-80%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes opacityLeft {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.main-slider__content.slick-slide .main-slider__header,
.main-slider__content.slick-slide .main-slider__text {
    color: transparent;
    transition: color 1s;
}

.main-slider__content.slick-slide.slick-active .main-slider__header,
.main-slider__content.slick-slide.slick-active .main-slider__text {
    color: #ffffff;
}

.main-slider__content.slick-slide.slick-current.slick-active {
    transition: opacity .1s!important;
}

.main-slider__info .slick-track {
    display: flex;
    align-items: center;
}

.slick_prev.head_arrow,
.slick_next.head_arrow {
    z-index: 10;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 80%;
    transform: translateY(-80%);
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.27);
    border: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
}

.slick_prev.head_arrow {
    left: 57%;
    transform: translateX(-57%);
    background-image: url('../img/arrow.svg');
}

.slick_next.head_arrow {
    left: 60%;
    transform: translateX(-60%) rotate(180deg);
    background-image: url('../img/arrow.svg');
}

.main-slider__background ul.slick-dots {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
}

.main-slider__background ul.slick-dots::before {
    position: absolute;
    content: '';
    height: 120%;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.56);
    left: 50%;
    transform: translateX(-50%);
    top: -10%;
    z-index: -2;
}

.no-befor::before {
    display: none;
}

.main-slider {
    overflow: hidden;
}

.main-slider__container {
    overflow: hidden;
}

.no-befor::after {
    position: absolute;
    content: '';
    height: 120%;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.56);
    left: 50%;
    transform: translateX(-50%);
    top: -10%;
    z-index: -2;
}

.main-slider__background ul.slick-dots li {
    margin-bottom: 50px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-slider__background ul.slick-dots li.slick-active {
    opacity: 1;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(4px);
    transition: background .6s ease-in-out;
}

.main-slider__background ul.slick-dots li {
    background: rgba(255, 255, 255, 0);
    transition: background .2s ease-in-out;
}

.main-slider__background ul.slick-dots li:last-child {
    margin-bottom: 0px;
}

.main-slider__background ul.slick-dots li.slick-active button {
    font-size: 18px;
    z-index: 100;
    background-color: transparent;
}

ul.slick-dots button {
    border: none;
    color: #ffffff;
    background-color: #ffffff;
    border-radius: 100%;
    padding: 5px;
    font-size: 0;
    opacity: 0;
    cursor: pointer;
}

.main-slider__background ul.slick-dots li.slick-active button {
    font-size: 18px;
    z-index: 100;
    background-color: transparent;
}

.btn-more {
    display: flex;
    align-items: center;
    position: absolute;
    top: 75%;
    transform: translateY(-70%);
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.31);
    border-radius: 100px;
    padding: 25px 50px;
    color: #ffffff;
    font-weight: 700;
    line-height: 90%;
}

.btn-more img {
    margin-left: 10px;
}

.number-slide {
    position: absolute;
    top: 85%;
    left: 5%;
    transform: translateY(-85%) rotate(90deg);
    display: flex;
}

.number-slider__quantity,
.number-slider__count {
    color: #ffffff;
    font-weight: 500;
}

.content {
    padding: 100px 0;
}

.report__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.report__item {
    display: flex;
    width: 24%;
    height: 400px;
    position: relative;
    margin-right: 1.3%;
}

.report__item>img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.report__item::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(160, 137, 89, 0.64);
    backdrop-filter: blur(2px);
    transition: .5s ease;
}

.report__item:hover::before {
    background: rgba(25, 58, 89, 0.66);
    backdrop-filter: blur(0px);
}

.report__item:nth-child(4) {
    margin-right: 0;
}

.report__item-link {
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    position: relative;
}

.report__item-link-img img {
    margin: 0 auto;
    width: 70px;
    height: 70px;
}

.report__item-link-img {
    margin-top: 90px;
    position: relative;
    width: 100%;
}

.report__item-link span {
    margin-top: 60px;
    font-size: 24px;
    font-weight: 700;
    line-height: 140%;
    text-transform: uppercase;
    color: #ffffff;
}

.report__item-link-img::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background-color: #ffffff;
    top: 140%;
    transform: translateY(-140%);
    left: 0;
}

.about {
    background-color: #193A59;
}

.about__items {
    display: flex;
    justify-content: space-between;
}

.about__left {
    width: 45%;
}

.about__img {
    position: relative;
    width: 600px;
    height: 450px;
    overflow: hidden;
}


/* .about__img::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: url('../img/rect.png') center no-repeat;
    top: 34%;
    left: 50%;
    transform: translateX(-50%);
} */

.about__img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.about__right {
    width: 50%;
}

.about__right span {
    font-size: 24px;
    font-weight: 500;
    line-height: 120%;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
}

.about__right span::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background-color: #C9BD80;
    border-radius: 10px;
    bottom: 0;
    left: 0;
}

.title {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    color: #ffffff;
    text-transform: uppercase;
}

.about__text-main {
    margin-top: 20px;
    font-weight: 500;
    line-height: 180%;
    color: #C9BD80;
}

.about__text-desc {
    line-height: 180%;
    color: #ffffff;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 10px 65px;
    background: #C9BD80;
    border-radius: 5px;
    color: #ffffff;
    transition: .3s linear;
}

.btn:hover {
    background-color: #83752f;
}

.news {
    overflow: hidden;
}

.news__items {
    display: flex;
    position: relative;
}

.news__btn {
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translateY(-50%) translateX(-3%);
    display: flex;
}

.news__prev {
    margin-right: 10px;
}

.news__next {
    transform: rotate(180deg);
}

.news__prev:hover,
.news__next:hover {
    background: #d9d9d9;
}

.news__prev,
.news__next {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background: #ffffff;
    border: 1px solid #193A59;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s ease-in-out;
}

.news__title {
    color: #193A59;
    flex-shrink: 0;
    margin-right: 40px;
}

.news__slider {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    margin-right: -25%;
}

.news__slider-item {
    margin-right: 40px;
    padding: 20px;
    transition: .5s linear;
    background: rgba(112, 119, 123, 0.07);
    display: flex;
    flex-direction: column;
}

.news__slider-item.slick-active.slick-current {
    background: linear-gradient(151.69deg, rgba(73, 131, 185, 0.74) -90.77%, #193A59 85.99%), #193A59;
    transition: .5s linear;
}

.news__img-link {
    display: block;
    overflow: hidden;
    height: 250px;
}

.news__img-link img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .4s ease-in-out;
}

.news__img-link:hover img {
    transform: scale(1.1);
}

.news__date {
    margin: 20px 0;
    color: #B0B0B0;
}

.news__slider-item.slick-active.slick-current .news__text,
.news__slider-item.slick-active.slick-current .news__link {
    color: #ffffff;
}

.news__text {
    display: block;
    margin-bottom: 50px;
    color: #15100D;
    transition: color .3s linear;
}

.news__slider-item.slick-active.slick-current .news__text:hover {
    color: #D2B780;
}

.news__text:hover {
    color: #D2B780;
}

.news__link {
    display: inline-block;
    color: #15100D;
    position: relative;
}

.news__link::before {
    position: absolute;
    content: '';
    width: 0%;
    height: 1px;
    background-color: #B0B0B0;
    bottom: 0;
    transition: .3s linear;
}

.news__link:hover::before {
    width: 100%;
}

.news__slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -10%;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border: 1px solid #193A59;
    box-sizing: border-box;
}

.videos {
    background-color: #193A59;
}

.videos__video {
    margin-top: 30px;
}

.footer__items {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footer {
    background: url(../img/footer.jpg) no-repeat center;
    background-size: cover;
    position: relative;
}

.footer::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(35, 35, 35, 0.88);
    z-index: 1;
}

.footer__container {
    position: relative;
    z-index: 2;
}

.copyright {
    position: relative;
    z-index: 2;
}

.footer .content {
    padding: 50px 0;
}

.footer_nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
}

.footer_link {
    color: #ffffff;
}

.footer_link.heading {
    color: #C9BD80;
    text-transform: uppercase;
    font-weight: 500;
}

.footer__item {
    margin-bottom: 20px;
}

.footer__item:last-child {
    margin-bottom: 0;
}

.copyright {
    border-top: 1px solid #ffffff;
}

.copyright__items {
    display: flex;
    justify-content: space-between;
}

.copyright__item {
    color: #ffffff;
    font-size: 400;
    font-weight: 400;
}

.ast-link {
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}


/* ANIMATION MAIN PAGE */

.main-slider.animation {
    transform: translateX(200%);
    animation: animMainSlider 2s linear forwards;
}

@keyframes animMainSlider {
    from {
        transform: translateX(200%);
    }
    to {
        transform: translateX(0%);
    }
}

.main-slider__header.firstanimation {
    transform: translateX(-150%);
    animation: animSliderHeader .9s ease-in-out forwards;
    animation-delay: 2.2s;
}

@keyframes animSliderHeader {
    from {
        transform: translateX(-150%);
    }
    to {
        transform: translateX(0);
    }
}

.main-slider__text.firstanimation {
    transform: translateX(-150%);
    animation: animSliderText .9s ease-in-out forwards;
    animation-delay: 2.7s;
}

@keyframes animSliderText {
    from {
        transform: translateX(-150%);
    }
    to {
        transform: translateX(0);
    }
}

.btn-more.animation {
    transform: translateX(-200%) translateY(-70%);
    animation: animBtn .9s ease-in-out forwards;
    animation-delay: 2.9s;
}

@keyframes animBtn {
    from {
        transform: translateX(-200%) translateY(-70%);
    }
    to {
        transform: translateX(0) translateY(-70%);
    }
}

.main-slider__background ul.slick-dots::before {
    transform: translateY(200%);
    animation: dotsLine .8s ease-in-out forwards;
    animation-delay: 2.9s;
}

@keyframes dotsLine {
    from {
        transform: translateY(200%);
    }
    to {
        transform: translateY(0);
    }
}

.slick-dots li button.animation {
    animation: dotsOpacity .5s ease-in-out forwards;
    animation-delay: 2.7s;
}

@keyframes dotsOpacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.main-slider__background ul.slick-dots li.slick-active.animation {
    opacity: 0;
    animation: liSlickActive .6s ease-in-out forwards;
    animation-delay: 3.5s;
}

@keyframes liSlickActive {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.header.animation {
    transform: translateY(-100%);
    animation: animHead .5s linear forwards;
    animation-delay: 2.3s;
}

@keyframes animHead {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

.header__stock.animation {
    transform: translateY(-200%);
    animation: animStock .3s linear forwards;
    animation-delay: 2.9s;
}

@keyframes animStock {
    from {
        transform: translateY(-200%);
    }
    to {
        transform: translateY(0);
    }
}

.header__lang.animation {
    transform: translateY(-200%);
    animation: animLang .3s linear forwards;
    animation-delay: 3.3s;
}

@keyframes animLang {
    from {
        transform: translateY(-200%);
    }
    to {
        transform: translateY(0);
    }
}

.header__phone.animation {
    transform: translateY(-200%);
    animation: animPhone .3s linear forwards;
    animation-delay: 3.6s;
}

@keyframes animPhone {
    from {
        transform: translateY(-200%);
    }
    to {
        transform: translateY(0);
    }
}

.header__bottom-items.animation {
    opacity: 0;
    animation: animHeadbot .8s linear forwards;
    animation-delay: 3.7s;
}

@keyframes animHeadbot {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}

.main-slider__child-item.animation_one {
    position: relative;
    right: -50%;
    animation: animItemOne 1.2s ease-in-out forwards;
    animation-delay: 4s;
}

@keyframes animItemOne {
    from {
        right: -50%;
    }
    to {
        right: 0;
    }
}

.main-slider__child-item.animation_two {
    position: relative;
    right: -50%;
    animation: animItemTwo 1.2s ease-in-out forwards;
    animation-delay: 4.5s;
}

@keyframes animItemTwo {
    from {
        right: -30%;
    }
    to {
        right: 0;
    }
}

.main-slider__child-item.animation_three {
    position: relative;
    right: -10%;
    animation: animItemThree 1.2s ease-in-out forwards;
    animation-delay: 5s;
}

@keyframes animItemThree {
    from {
        right: -10%;
    }
    to {
        right: 0;
    }
}

.head_arrow.animation {
    opacity: 0;
    animation: animBtnSlider .8s ease-in-out forwards;
    animation-delay: 5.3s;
}

@keyframes animBtnSlider {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.number-slide.animation {
    opacity: 0;
    animation: animCount .8s ease-in-out forwards;
    animation-delay: 5.3s
}

@keyframes animCount {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* breadcrumbs */

.breadcrumbs__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.breadcrumbs__item {
    margin-right: 40px;
    position: relative;
}

.breadcrumbs__item:not(:first-child) .breadcrumbs__link::before {
    position: absolute;
    content: '';
    width: 6px;
    height: 18px;
    background: url('../img/arrbroad.svg') center no-repeat;
    top: 50%;
    transform: translateY(-50%) translateX(-350%);
    left: 0;
}

.breadcrumbs__item:last-child .breadcrumbs__link {
    font-weight: 700;
    pointer-events: none;
}

.breadcrumbs__link {
    position: relative;
    display: block;
    color: #193A59;
    font-weight: 500;
    font-size: 16px;
}

.breadcrumbs__container {
    padding-bottom: 0!important;
    padding-top: 65px;
}


/* breadcrumbs end */


/* about page */

.header.other .header__bottom {
    background: rgba(21, 21, 21, 0.45);
    backdrop-filter: blur(20px);
}

.header-bg {
    padding: 83px 0;
}

.about.other {
    background: #ffffff;
}

.about.other .about__title {
    color: #193A59;
}

.about.other .about__items {
    flex-direction: row-reverse;
}

.about.other .about__text-desc {
    color: #15100D;
    margin-top: 10px;
}

.counter__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.blue {
    background: #193A59;
}

.counter__item {
    display: flex;
    align-items: center;
    color: #E7D88A;
    font-size: 24px;
    line-height: 120%;
    font-weight: 500;
}

.counter__item span {
    font-size: 90px;
    font-weight: 700;
}

.benefits__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.benefits__item {
    width: 45%;
    margin-top: 50px;
}

.benefits__item:nth-child(-n+2) {
    margin-top: 0;
}

.benefits__item-title {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #E7D88A;
    padding-bottom: 30px;
}

.benefits__item-title img {
    flex-shrink: 0;
    width: 70px;
    height: 70px;
    object-fit: cover;
    margin-right: 20px;
}

.benefits__item-title p {
    color: #E7D88A;
    font-weight: 700;
}

.benefits__item-text {
    margin-top: 20px;
}

.benefits__item-text p {
    color: #ffffff;
    font-weight: 500;
}


/* MAP START */

.map__container {
    padding-bottom: 0!important;
}

.kazakhstan {
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
.map-svg {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 50px 0;
    background: #F2F4F6;
}

.map__box {
    position: absolute;
    width: 540px;
    height: 780px;
    box-shadow: 0px 3px 32px -2px rgba(129, 135, 140, 0.22);
    right: 0;
    top: 0;
    z-index: 10;
    background: #ffffff;
    transition: .2s ease-in-out;
    opacity: 0;
    pointer-events: none;
}

.map__box.active {
    opacity: 1;
    pointer-events: unset;
}

.map__box.hidden {
    opacity: 0;
}

.map__box-header {
    background: #193A59;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    height: 8%;
    align-items: center;
}

.box__close {
    display: flex;
    cursor: pointer;
    width: 20px;
    height: 20px;
}
.box__close img {
    width: 100%;
    height: 100%;
}

/* .box__close img {
    pointer-events: none;
} */

.map__box-body {
    overflow: auto;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right:15px;
    margin-top: 30px;
    margin-right: 15px;
    height: 85%;
}

.map-body__img {
    height: 250px;
    width: 100%;
}

.map-body__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.map-body__title {
    margin-top: 20px;
    padding-bottom: 20px; 
    color: #A08959;
    border-bottom: 1px solid #A08959;
    font-weight: 500;
}

.map-body__row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid#A6B3BF;
}

.map-body__name {
    font-weight: 700;
    margin-right: 30px;
}

.kazakhstan path.city {
    transition: .2s ease-in-out;
}

.kazakhstan path.active {
    fill: #C9BD80;
    transition: .2s ease-in-out;
}

.pointer {
    cursor: pointer;
    transform-box: fill-box;
    transform-origin: center;
    transition: .2s ease-in-out;
}

.pointer g {
    pointer-events: none;
    transform-box: fill-box;
    transform-origin: center;
}

.pointer.active {
    transform: scale(1.2);
}
.kirka.active g {
    animation: animationKirka 2s ease-in-out infinite;
}

@keyframes animationKirka {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-45deg);
    }
    75% {
        transform: rotate(25deg);
    }
}

.atom.active g {
    animation: animationAtom 2s ease-out infinite;
}

@keyframes animationAtom {
    0% {
        transform: rotate(0) scale(1);
    }
    50% {
        transform: rotate(-180deg) scale(.8);
    }
    75% {
        transform: rotate(90deg) scale(1.2);
    }
    100% {
        transform: rotate(0) scale(1);
    }
}

.arrows.active g {
    animation: animationArrows 2s linear infinite;
}

@keyframes animationArrows {
    to {
        transform: rotate(360deg);
    }
}

.grafik.active g {
    animation: animationGrafik 2s ease-out infinite;
}

@keyframes animationGrafik {
    0% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(.7);
    }
    75% {
        transform: scaleY(1.2);
    }
    100% {
        transform: scaleY(1);
    }
}

.kompas.active g {
    animation: animationCompas 2s ease-in-out infinite;
}

@keyframes animationCompas {
    0% {
        transform: rotate(0);
    }
    33% {
        transform: rotate(80deg);
    }
    66% {
        transform: rotate(-80deg);
    }
    100% {
        transform: rotate(0);
    }
}

.house.active g {
    animation: animationHouse 2s ease-in-out infinite;
}

@keyframes animationHouse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1)
    }
}

.shesterenka.active g {
    animation: animationArrows 2s linear infinite;
}

.yakor g {
    transform-origin: top;
}

.yakor.active g {
    animation: animationYakor 2s linear infinite;
}

@keyframes animationYakor {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(25deg);
    }
    50% {
        transform: rotate(0);
    }
    75% {
        transform: rotate(-25deg);
    }
    100% {
        transform: rotate(0);
    }
}

.hub__items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.hub__item {
    width: 16%;
    margin-right: 5%;
    margin-top: 30px;
}

.hub__item:nth-child(-n+5) {
    margin-top: 0;
}

.hub__item:nth-child(5n+5) {
    margin-right: 0;
}

.hub__item {
    display: flex;
    align-items: center;
}

.hub__item img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-right: 15px;
}

.hub__item span {
    color: #ffffff;
}


/* MAP END */


/* about page end */


/* news page start */

.news__items.other {
    justify-content: flex-start;
    flex-wrap: wrap;
}

.news__item {
    width: 24%;
    padding: 20px;
    margin-right: 1.3%;
    background: rgba(112, 119, 123, 0.07);
    margin-top: 50px;
}

.news__item:nth-child(-n+4) {
    margin-top: 0;
}

.news__item:nth-child(4n+4) {
    margin-right: 0;
}

.page_title {
    color: #193A59;
    margin-bottom: 50px;
}

.news__link-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news__link-arrow {
    display: inline-block;
}

.news__link-arrow svg path {
    transition: .2s linear;
}

.news__link-arrow:hover svg path {
    fill: #C9BD80;
}

.news__item .news__link {
    font-weight: 500;
}


/* news page end */


/* newsinner page start */

.newsinner__items {
    display: flex;
    justify-content: space-between;
}

.newsinner__big {
    width: 100%;
}

.newsinner__small {
    width: 25%;
    flex-shrink: 0;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.newsinner__small .news__item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
}

.newsinner__small .news__item:nth-child(2) {
    margin-bottom: 0;
}

.newsinner__item {
    padding: 20px;
    background: #F2F4F6;
    height: 100%;
}

.newsinner__item img {
    max-height: 550px;
    width: 100%;
    object-fit: cover;
}

.newsinner__text {
    margin-top: 20px;
}

.newsinner__text p {
    line-height: 180%;
}


/* newsinner page end */


/* develop page */

.info__title {
    color: #193A59;
    margin-bottom: 50px;
}

.info__text p {
    line-height: 180%;
    font-weight: 500;
}

.grey {
    background: #F2F4F6;
}

ul.info__list {
    list-style-position: inside;
    margin: 40px 0;
}

.info__list-title {
    margin-bottom: 30px;
    font-weight: 700;
}

.info__list-item {
    font-weight: 500;
    padding-left: 45px;
    position: relative;
    margin-bottom: 30px;
    margin-left: 10px;
}

.info__list-item:last-child {
    margin-bottom: 0;
}

.info__list-item::before {
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    border: 2px solid #15100D;
    border-radius: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.info__list-item::after {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    background: #000000;
    border-radius: 100%;
    left: 0.7%;
    top: 50%;
    transform: translateY(-50%);
}

.info__tabs {
    margin-top: 10px;
}

.info__tabs-item {
    margin-bottom: 5px;
}

.info__tabs-item:last-child {
    margin-bottom: 0;
}

.info__tabs-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #C9BD80;
    padding: 15px 20px;
    font-weight: 500;
    color: #ffffff;
    transition: .2s linear;
}

.info__tabs-btn:hover {
    background: #173b7e;
}

.info__tabs-btn img {
    width: 20px;
    height: 12px;
    object-fit: cover;
    transition: .2s linear;
}

.info__tabs-btn.active {
    background-color: #173b7e;
}

.info__tabs-btn.active img {
    transform: rotate(180deg);
}

.info__tabs-content {
    padding: 20px;
    background: #EDEADC;
    display: none;
}

.slick_prev.part_arrow,
.slick_next.part_arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .2s ease-in-out;
    background: #C9BD80;
    z-index: 10;
    opacity: .7;
}

.slick_prev.part_arrow:hover,
.slick_next.part_arrow:hover {
    background: #193A59;
}

.slick_prev.part_arrow {
    left: -2%;
}

.slick_next.part_arrow {
    right: -2%;
}

.partners__item {
    height: 100px;
    margin: 0 30px;
}

.partners__item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.partners__container {
    padding-top: 0!important;
}

.resume {
    background: #193A59;
}

.resume__container {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resume__text {
    font-weight: 700;
    font-size: 36px;
    color: #ffffff;
}

.resume__link {
    display: block;
    background: #C9BD80;
    color: #ffffff;
    padding: 15px 80px;
    border-radius: 2px;
    transition: .2s linear;
}

.resume__link:hover {
    background: #0080C8;
}

.vacancy__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.vacancy__item {
    width: 32%;
    margin-right: 2%;
}

.vacancy__item:last-child {
    margin-right: 0;
}

.vacancy__header {
    padding: 15px;
    background: #C9BD80;
    color: #ffffff;
    line-height: 120%;
}

.vacancy__info {
    padding: 15px;
    background: #ffffff;
    font-weight: 700;
}

.vacancy__duties:not(:last-child) {
    margin-bottom: 30px;
}

.vacancy__duties p {
    line-height: 120%;
    margin-bottom: 10px;
}

.vacancy__duties p:last-child {
    margin-bottom: 0;
}

.vacancy__duties-header {
    margin-bottom: 10px;
}

.vacancy__link {
    display: block;
    text-align: center;
    padding: 15px;
    background: #B0B0B0;
    border-radius: 2px;
    transition: .2s linear;
    color: #ffffff;
    text-transform: uppercase;
}

.vacancy__link:hover {
    background: #0080C8;
}

.popup__resume {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(10px);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup__resume-form {
    width: 500px;
    background: #193A59;
    padding: 30px;
    border-radius: 3px;
}

.resume__form-row {
    display: flex;
    justify-content: space-between;
}

.resume__form-header {
    text-align: center;
    color: #ffffff;
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: 500;
}

.resume__form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.resume__form-row:last-child {
    margin-bottom: 0;
}

.resume__form-col.w49 {
    width: 49%;
    display: flex;
    flex-direction: column;
}

.resume__form-col.w100 {
    width: 100%;
}

.resume__form-col span {
    color: #ffffff;
    margin-bottom: 5px;
    font-weight: 500;
    display: block;
}

.resume__form-col input::placeholder {
    color: #d9d9d9;
}

.resume__form-col input,
.resume__form-col textarea {
    display: block;
    border: none;
    outline: none;
    resize: none;
    width: 100%;
    padding: 8px;
    border-radius: 2px;
}

.resume__form-col textarea {
    height: 150px;
}

.form__submit {
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
    background: #B0B0B0;
    border-radius: 2px;
    transition: .2s linear;
}

.form__submit:hover {
    background: #0080C8;
}

.form__label {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: #C9BD80;
    border-radius: 2px;
    cursor: pointer;
}

.form__label input {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    pointer-events: none;
}

.form__label span {
    margin-bottom: 0;
}

.popup__resume {
    display: none;
    opacity: 0;
    transition: .3s linear;
}

.popup__resume.active {
    opacity: 1;
    transition: .3s linear;
}


/* develop page end */


/* overview page start */

.project__map {
    display: flex;
    position: relative;
    flex-shrink: 0;
    background: #A1A1A1;
    width: 25%;
    padding: 10px;
}

.project__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project__item {
    width: 25%;
    padding: 30px;
    background: #EEEEEE;
    position: relative;
}

.project__item:not(:last-child)::before {
    position: absolute;
    content: '';
    height: 60%;
    width: 2px;
    background: #A6B3BF;
    right: 0;
    top: 70%;
    transform: translateY(-70%);
}

.project__item-title {
    font-weight: 500;
    color: #193A59;
    font-size: 24px;
    margin-bottom: 20px;
}

.project__item-body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
}

.project__item-body:last-child {
    margin-bottom: 0;
}

.project__name {
    font-weight: 500;
    color: #15100D;
    text-transform: uppercase;
}

.project__location {
    color: #15100D;
    font-size: 14px;
    font-weight: 500;
}

.project__item-body img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    flex-shrink: 0;
}

.project__map svg {
    width: 100%;
    height: 100%;
}

.project__map span {
    position: absolute;
    text-transform: uppercase;
    top: 10%;
    left: 10%;
    color: #FFFFFF;
}

.project__map svg path.orange {
    transition: .2s ease-in-out;
}

.project__map:hover svg path.orange {
    fill: #C9BD80;
}


/* overview page end */


/* result page start */

.results__items {
    display: flex;
    flex-direction: column;
}

.results__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 30px 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.results__item:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.results__item:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.results__item-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.results__item-link:nth-child(2) {
    margin: 0 30px 0 20px;
}

.results__item-link {
    transition: .2s ease-in-out;
}

.results__item-link:hover {
    transform: scale(1.3);
}


/* result page end */


ul.footer__list {
    margin-bottom: 10px;
}

@media(max-width: 1920px) {
    .main-slider__background ul.slick-dots {
        left: 1%;
    }
    .slick_next.head_arrow {
        left: 61%;
    }
    .main-slider__background ul.slick-dots {
        top: 55%;
    }
    .number-slide {
        left: .9%;
        top: 90%;
    }
}

@media(max-height: 860px) and (max-width: 1920px) {
    .main-slider__child {
        height: 450px;
    }
    .main-slider__header {
        font-size: 58px;
    }
    .main-slider__background ul.slick-dots {
        left: 2%;
        top: 60%;
        transform: translateY(-60%);
    }
    .number-slide {
        left: 5%;
        transform: rotate(90deg);
    }
    .slick_prev.head_arrow, .slick_next.head_arrow,
    .number-slide {
        top: 90%;
    }
    .btn-more {
        padding: 20px 30px;
    }
    .main-slider__child {
        top: 55%;
    }
    .slick_next.head_arrow {
        left: 61%;
    }
}
@media(max-width: 1650px) {
    .main-slider__header {
        font-size: 48px;
    }
    .main-slider__text {
        font-size: 16px;
    }
    .main-slider__background ul.slick-dots li {
        width: 40px;
        height: 40px;
    }
    .main-slider__child {
        height: 480px;
    }
    .number-slide {
        left: .5%;
    }
    .btn-more {
        padding: 20px 40px;
    }
    .report__item {
        height: 350px;
    }
    .report__item-link-img {
        margin-top: 50px;
    }
    .report__item-link span {
        font-size: 22px;
    }
    .title {
        font-size: 46px;
    }
    .counter__item span {
        font-size: 82px;
    }
    .counter__item {
        font-size: 22;
    }

}
@media(max-width: 1650px) and (max-height: 800px) {
    .slick_prev.head_arrow, .slick_next.head_arrow,
    .number-slide {
        top: 90%;
    }
    .header__bottom-items {
        padding: 18px 0;
    }
    .logo__link {
        width: 165px;
        height: 40px;
    }
    .btn-more {
        padding: 15px 30px;
        margin-left: 10px;
    }
    .number-slide {
        left: 1.5%;
    }
    .main-slider__child {
        height: 450px;
    }
    .main-slider__background ul.slick-dots li {
        margin-bottom: 35px;
    }

}

@media(max-width: 1560px) {
    body {
        font-size: 16px;
    }
    .map__box {
        width: 500px;
        height: 660px;
    }
}

@media(max-width: 1460px) {
    .nav__menu-item {
        margin-right: 35px;
    }
    .main-slider__child {
        height: 450px;
    } 
    .about__img {
        width: 550px;
        height: 410px;
    }
    .news__img-link {
        height: 160px;
    }
    .news__prev, .news__next {
        width: 60px;
        height: 60px;
    }
    .resume__text {
        font-size: 32px;
    }
    .info__title {
        margin-bottom: 40px;
    }
}

@media(max-width: 1360px) {
    .header-bg {
        padding: 72px 0;
    }
    .nav__menu-item {
        margin-right: 20px;
    }
    .main-slider__child {
        width: 60%;
    }
    .header__bottom-items {
        padding: 20px 0;
    }
    .slick_prev.head_arrow {
        left: 52%;
    }
    .slick_next.head_arrow {
        left: 57%;
    }
    .news__text {
        margin-bottom: 30px;
    }
    .news__date {
        margin: 10px 0;
    }
    .counter__item {
        font-size: 18px;
    }
    .counter__item span {
        font-size: 68px;
    }
    .counter__container {
        padding: 70px 0;
    }
    .map__box {
        width: 430px;
        height: 570px;
    }
    .map-body__img {
        height: 180px;
    }
    .map-body__title {
        margin-top: 10px;
        padding-bottom: 10px;
    }
    .map-body__row {
        padding: 10px 0;
    }
    .slick_prev.part_arrow, .slick_next.part_arrow {
        width: 50px;
        height: 50px;
    }
    .slick_prev.part_arrow svg, .slick_next.part_arrow svg {
        width: 40%;
        height: 40%;
    }
}

@media(max-width: 1260px) {
    .nav__menu-item a {
        font-size: 14px;
    }
    .main-slider__child {
        height: 420px;
    }
    .main-slider__header {
        font-size: 42px;
        margin-bottom: 10px;
    }
    .report__item-link span {
        font-size: 18px;
    }
    .report__item {
        height: 320px;
    }
    .about__img {
        width: 480px;
        height: 360px;
    }
    .content {
        padding: 70px 0;
    }
    .footer .content {
        padding: 30px 0;
    }
    .breadcrumbs__container {
        padding-top: 50px;
    }
    .map__box {
        width: 390px;
        height: 510px;
    }
    .map__box-body {
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 7px;
        margin-top: 20px;
        margin-right: 7px;
    }
    .info__title {
        margin-bottom: 30px;
    }
}

@media(max-width:1160px) {
    .btn-more {
        padding: 15px 30px;
        margin-left: 50px;
    }
    .wrapper {
        margin-left: 3%;
    }
}
.menu-btn {
    display: none;
}
@media(max-width: 1100px) {
    .main-slider__child-wrapper {
        display: none;
    }
    .wrapper {
        width: 60%;
        margin-left: 10%;
    }
    .btn-more {
        margin-left: 12%;
    }
    .slick_prev.head_arrow {
        left: 15%;
    }
    .slick_next.head_arrow {
        left: 21%;
    }
    .header__bottom-items {
        position: relative;
    }
    .menu {
        position: absolute;
        right: 0;
        top: 100%;
        background: #193A59;
        max-height: 0;
        overflow: hidden;
        transition: .5s ease-in-out;
    }
    .menu.active {
        max-height: 300px;
    }
    .nav__menu {
        flex-direction: column;
        padding: 20px!important;
    }
    .nav__menu-item {
        margin-right: 0;
        margin-bottom: 15px;
    }
    .nav__menu-item:last-child{
        margin-bottom: 0;
    }


    .menu-btn {
        display: block;
        width: 36px;
        margin-left: 30px;
    }
    
    .menu-btn:before,
    .menu-btn:after {
        background-color: #c8bc7f;;
        content: '';
        display: block;
        height: 4px;
        transition: all 200ms ease-in-out;
    }
    
    .menu-btn:before {
        box-shadow: 0 10px 0 #1a30ad;
        margin-bottom: 16px;
    }
    
    .menu-btn.active::before {
        box-shadow: 0 0 0 #fff;
        transform: translateY(10px) rotate(45deg);
    }
    
    .menu-btn.active::after {
        transform: translateY(-10px) rotate(-45deg);
    }
    .report__item-link {
        padding: 15px;
    }
    .report__item {
        height: 300px;
    }
    .report__item-link span {
        font-size: 16px;
    }
    .report__item-link-img img {
        width: 60px;
        height: 60px;
    }
    .title {
        font-size: 38px;
    }
    .footer__items {
        flex-direction: column;
    }
    .footer_nav {
        width: 100%;
    }
    .footer__logo.logo {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }
    .header__lang.animation {
        animation-delay: 2s;
    }
    .head_arrow.animation {
        animation-delay: 4s;
    }
    .about__img {
        width: 450px;
    }
    .about__left {
        width: 47%;
    }
    .resume__link {
        padding: 12px 60px; 
    }
    .resume__text {
        font-size: 28px;
    }
    .slick_next.part_arrow {
        right: 0;
    }
    .slick_prev.part_arrow {
        left: 0;
    }
    .news__items.other .news__img-link {
        height: 130px;
    }
    .newsinner__small .news__item,
    .newsinner__item {
        padding: 12px;
    }
}

@media(max-width: 1000px) {
    .box__close {
        width: 15px;
        height: 15px;
    }
    .map__box {
        width: 330px;
    }
    .map-body__img {
        height: 150px;
    }
    .map-body__name {
        margin-right: 10px;
    }
    .hub__item {
        width: 32%;
        margin-right: 2%;
        justify-content: center;
    }
    .hub__item:nth-child(3n+3) {
        margin-right: 0;
    }
    .hub__items { 
        justify-content: center;
    }
    .hub__item:nth-child(n+4) {
        margin-top: 30px;
    }
}

@media(max-width: 992px) {
    .slick_prev.head_arrow {
        left: 20%;
    }
    .slick_next.head_arrow {
        left: 27%;
    }
    .about__items {
        flex-direction: column;
    }
    .about__left,
    .about__right {
        width: 100%;
    }
    .about__img {
        margin: 0 auto;
    }
    .about__right {
        margin-top: 40px;
    }
    .footer_link {
        font-size: 14px;
    }
    .slick_prev.head_arrow, .slick_next.head_arrow, 
    .number-slide {
        top: 85%;
    }
    .main-slider__info {
        top: 45%;
    }
    .number-slide {
        left: 7%;
        top: 87%;
    }
    .about.other .about__items {
        flex-direction: column;
    }
    .counter__item span {
        font-size: 58px;
    }
    .counter__item {
        font-size: 16px;
    }
    .counter__container {
        padding: 50px 0;
    }
    .page_title {
        margin-bottom: 30px;
    }
    .breadcrumbs__container {
        padding-top: 30px;
    }
    .breadcrumbs__link {
        font-size: 14px;
    }
    .breadcrumbs__item:first-child .breadcrumbs__link{
        display: block;
        width: 20px;
        height: 20px;
    }
    .breadcrumbs__item:first-child {
        margin-right: 25px;
    }
    .info__list-item {
        margin-bottom: 15px;
    }
    .project__item-title {
        font-size: 18px;
    }
    .project__item {
        padding: 15px;
    }
    .project__map span {
        top: 5%;
        left: 5%;
    }
    .project__item-body {
        font-size: 14px;
    }
    .project__item-body img {
        width: 30px;
        height: 30px;
    }
}
@media(max-width: 950px) {
    .news__items.other .news__item{
        width: 32%;
        margin-right: 2%;
        margin-top: 30px;
    }
    .news__items.other .news__item:nth-child(3n+3) {
        margin-right: 0;
    }
    .news__items.other .news__item:nth-child(4) {
        margin-top: 30px;
    }
    .news__items.other .news__img-link {
        height: 170px;
    }
}
@media(max-width: 900px) {
    .vacancy__item {
        width: 48%;
        margin-top: 20px;
    }
    .vacancy__item:nth-child(-n+2) {
        margin-top: 0;
    }
    .vacancy__item:nth-child(even) {
        margin-right: 0;
    }
    .resume__text {
        font-size: 22px;
    }
    .resume__link {
        padding: 12px 40px;
    }
}
@media(max-width: 880px) {
    .header__phone {
        display: none;
    }
    .news__prev, .news__next {
        width: 50px;
        height: 50px;
    }
    .news__slider-item {
        margin-right: 20px;
    }
    .counter__item span {
        font-size: 42px;
    }
}
@media(max-width: 800px) {
    .news__img-link {
        height: 220px;
    }
    .report__item {
        width: 32%;
        margin-right: 2%;
        margin-top: 20px;
    }
    .report__item:nth-child(3n+3) {
        margin-right: 0;
    }
    .report__item:nth-child(-n+3) {
        margin-top: 0;
    }
    .footer__item {
        margin-bottom: 10px;
    }
    .map__box {
        width: 310px;
        height: 460px;
    }
    .hub__container  {
        padding: 50px 0;
    }
    .news__items.other .news__img-link {
        height: 140px;
    }
    .news__items.other .news__item {
        padding: 15px;
    }
    .newsinner__items {
        flex-direction: column;
    }
    .newsinner__small {
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
        flex-direction: row;
    }
    .newsinner__small .news__item {
        margin-bottom: 0;
    }
    .newsinner__small .news__item:first-child {
        margin-right: 2%;
    }
}
@media(max-width: 780px) {
    .counter__item {
        width: 49%;
        margin-top: 30px;
        justify-content: center;
    }
    .counter__item:nth-child(-n+2) {
        margin-top: 0;
    }
    .resume__container {
        flex-direction: column;
    }
    .resume__text {
        margin-bottom: 30px;
        text-align: center;
    }
}
@media(max-width: 750px) {
    .slick_prev.head_arrow {
        left: 30%;
    }
    .slick_next.head_arrow {
        left: 45%;
    }
    .project__items {
        flex-direction: column;
    }
    .project__map,
    .project__item {
        width: 100%;
    }
    .project__item {
        display: flex;
        flex-wrap: wrap;
    }
    .project__item-title {
        width: 100%;
    }
    .project__item-body {
        margin-right: 30px;
        margin-bottom: 10px;
    }
    .project__item-body:last-child {
        margin-bottom: 10px;
    }
    .project__item-body img {
        margin-right: 10px;
    }
    .project__item:not(:last-child)::before {
        display: none;
    }
}

@media(max-width: 700px) {
    .stock__item {
        font-size: 12px;
        margin-right: 15px;
    }
    .news__img-link {
        height: 170px;
    }
    .footer_nav {
        justify-content: flex-start;
    }
    ul.footer__list {
        margin-right: 20px;
    }
    .news__items.other .news__item {
        width: 48%;
    }
    .news__items.other .news__item:nth-child(odd) {
        margin-right: 2%;
    }
    .news__items.other .news__item:nth-child(even) {
        margin-right: 0;
    }
    .news__items.other .news__img-link {
        height: 190px;
    }
}

@media(max-width: 650px) {
    .wrapper {
        width: 80%;
    }
    .report__item {
        width: 48%;
        margin-top: 20px;
        margin-right: 2%;
    }
    .report__item:nth-child(even) {
        margin-right: 0;
    }
    .report__item:nth-child(odd) {
        margin-right: 2%;
    }
    .report__item:nth-child(-n+2) {
        margin-top: 0;
    }
    .report__item:nth-child(3) {
        margin-top: 20px;
    }
    .benefits__item {
        width: 100%;
        margin-top: 0;
        margin-top: 30px;
    }
    .benefits__item:nth-child(2)  {
        margin-top: 30px;
    }
    .benefits__item:nth-child(1){
        margin-top: 0;
    }
    .benefits__item-title {
        padding-bottom: 20px;
    }
    .vacancy__item {
        width: 100%;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 20px;
    }
    .vacancy__item:last-child {
        margin-bottom: 0;
    }
}
@media(max-width: 600px) {
    .news__slider {
        margin-right: 0;
    }
    .about__img {
        width: 100%;
        height: 100%;
    }
    .map__box-body {
        font-size: 12px;
    }
}
@media(max-width: 570px) {
    .stock__item {
        font-size: 11px;
    }
    .copyright__items {
        flex-direction: column;
        align-items: center;
    }
    .copyright__item:nth-child(2) {
        margin-top: 20px;
    }
    .news__items.other .news__img-link {
        height: 150px;
    }
}

@media(max-width: 530px) {
    .stock__item {
        font-size: 10px;
    }
    .header__top-items {
        padding: 5px 0;
    }
    .header__bottom-items {
        padding: 10px 0;
    }
    .slick_next.head_arrow {
        left: 45%;
    }
    .main-slider__background ul.slick-dots li {
        margin-bottom: 30px;
        width: 30px;
        height: 30px;
    }
    .main-slider__background ul.slick-dots li.slick-active button {
        font-size: 12px;
    }
    ul.slick-dots button {
        padding: 3px;
    }
    .header-bg {
        padding: 52px 0;
    }
}

@media(max-width: 500px) {
    .stock__list {
        width: 100%;
    }
    .header__stock {
        width: 80%;
        display: flex;
        justify-content: space-between;
    }
    .wrapper {
        width: 100%;
    }
    .main-slider__header {
        font-size: 36px;
    }
    .main-slider__header,
    .main-slider__text {
        padding-left: 50px;
        padding-right: 30px;
    }
    .title {
        font-size: 32px;
    }
    .news__title {
        margin-right: 10px;
    }
    .news__items.other .news__item {
        width: 100%;
        margin-right: 0!important;
    }
    .news__items.other .news__img-link {
        height: 270px;
    }
    .newsinner__small {
        flex-direction: column;
    }
    .newsinner__small .news__img-link {
        height: 280px;
    }
    .newsinner__small .news__item:first-child {
        margin-right: 0;
        margin-bottom: 20px;
    }
}


@media(max-width: 450px) {
    ul.footer__list {
        margin-right: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .news__slider-item {
        padding: 8px;
        margin: 0 5px;
    }
    .news__title {
        font-size: 26px;
    }
    .news__prev, .news__next {
        width: 40px;
        height: 40px;
    }
    .report__item {
        width: 100%;
        margin-right: 0!important;
        margin-top:0;
        margin-bottom: 20px;
        height: 450px;
    }
    .report__item-link-img {
        margin-top: 130px;
    }
    .counter__item {
        width: 100%;
    }
    .counter__item:nth-child(2) {
        margin-top: 30px;
    }
    .hub__items {
        justify-content: flex-start;
        align-items: flex-start;
    }
    .hub__item {
        width: 100%;
        margin-right: 0;
        justify-content: flex-start;
        margin-bottom: 20px;
        margin-top: 0!important;
    }
    .hub__item:last-child {
        margin-bottom: 0;
    }
    .title {
        font-size: 28px;
    }
    .news__items.other .news__img-link {
        height: 230px;
    }
}

@media(max-width: 400px) {
    .title {
        font-size: 26px;
    }
    .news__items.other .news__img-link {
        height: 200px;
    }
    .newsinner__small .news__img-link {
        height: 210px;
    }
}